<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    [src]="profile.imgUrl" width="200">
                <span class="font-weight-bold">{{profile.firstname}} {{profile.secondname}}</span>
                <span class="text-black-50">{{profile.email}}</span>
                <span>{{profile.country}}</span>
            </div>
        </div>
        <div class="col-md-8">
            <form [formGroup]="profileform" (ngSubmit)="saveProfile()">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back">
                            <a routerLink="/dashboard"><b><i class="bi bi-arrow-left"></i> Back to Dashboard</b></a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="First name"
                                    formControlName="firstname" name="name" >
                            <div class="text-danger" *ngIf="checkValidation(
                                getAbstractControl('firstname'))">
                                <i class="fa-solid fa-circle-exclamation me-2"></i>First name is required
                            </div>
                        </div>
                        <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Second name"
                                    formControlName="secondname" name="name" >
                            <div class="text-danger" *ngIf="checkValidation(
                                getAbstractControl('secondname'))">
                                <i class="fa-solid fa-circle-exclamation me-2"></i>Second name is required
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Email"
                                formControlName="email" name="email" >
                                <div class="text-danger" *ngIf="checkValidation(
                                getAbstractControl('email'))">
                                <i class="fa-solid fa-circle-exclamation me-2"></i>Email is required
                            </div>
                            </div>
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Age"
                                formControlName="age" name="age" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('age'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>Age is required
                                </div>
                            </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Address"
                                formControlName="address" name="address" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('address'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>Address is required
                                </div>
                            </div>
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="pincode"
                                formControlName="pincode" name="pincode" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('pincode'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>pincode is required
                                </div>
                            </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="District"
                                formControlName="district" name="district" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('district'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>District is required
                                </div>
                            </div>
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Country"
                                formControlName="country" name="country" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('country'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>Country is required
                                </div>
                            </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="password" class="form-control" placeholder="Password"
                                formControlName="password" name="password" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('password'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>Password is required
                                </div>
                            </div>
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Mobile Number"
                                formControlName="number" name="number" >
                                <div class="text-danger" *ngIf="checkValidation(
                                    getAbstractControl('number'))">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>Number is required
                                </div>
                            </div>
                    </div>
                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button"
                            type="submit" >Save Profile</button></div>
                </div>
            </form>
        </div>
    </div>
</div>